In [19]:
import pandas as pd
from sklearn import linear_model

In [20]:
df = pd.read_csv("homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [21]:
#get the mean value of the bedrooms
mn  = int(df.bedrooms.mean())
mn

4

In [29]:
# fill the NaN value 
df.bedrooms = df.bedrooms.fillna(mn)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [23]:
model = linear_model.LinearRegression()
model.fit(df[['area','bedrooms', 'age']], df.price)

LinearRegression()

In [24]:
model.predict([[3000,6,7]])

c:\Users\mwasj\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([675221.58279901])